h1 {
    color: var(--primary-color);
}

.home {
    background-image: url(../../assets/images/LandingBg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-text-color);
}