.input2 {
  display: flex;
  flex-direction: row-reverse;
}

.input2 input {
  display: none;
}

.input2 label {
  cursor: pointer;
  transition: color 0.3s;
}

.input2 label:before {
  content: "\2605";
  font-size: 32px;
}

.input2 input:checked ~ label,
.input2 label:hover,
.input2 label:hover ~ label {
  color: #ffbc2a;
  transition: color 0.3s;
}