.card4 {
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 20px;
}

.card4__top {
    display: flex;
    margin-bottom: 8px;
}

.card4__top img {
    border-radius: 50%;
    height: 50px;
    margin-right: 8px;
}

.card4__nickname {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card4__bottom {
    margin: 0;
}