.button6 {
  color: white;
  background: transparent;
  padding: 1em 1.6em;
  border: 1px solid #ed790c;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.button6 span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #ed790c;
  border-radius: 50%;
  transition: .6s ease;
}

.button6 span:nth-child(6) {
  position: relative;
}

.button6 span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.button6 span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.button6 span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.button6 span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.button6 span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.button6:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 2s ease;
}