/* Botones de cada seccion de componentes */
.section-button, .component-button {
    width: 100%;
    text-align: left;
    color: var(--primary-text-color);
    border: none;
    border-radius: var(--border-radius);
    background: transparent;
    padding: var(--space-small) var(--space-medium);
    transition: color .3s ease;
}

.section-button:hover, .component-button:hover {
    color: var(--primary-color);
    background-color: var(--color-bg-primary);
}

/* Contenedor del menú de componentes */
.component-sidebar {
    background-color: var(--color-bg-secondary);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px; /* Ancho del menú */
    transform: translateX(-100%); /* Oculto fuera de la pantalla */
    transition: transform 0.3s ease-in-out;
    z-index: 30; /* Asegura que el menú esté encima del contenido */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Componentes de cada seccion */
.component-button {
    opacity: 0;
    transform: translateX(-10px); /* Se mueve hacia abajo al inicio */
    animation: fadeInRight 0.3s ease forwards; /* La animación dura 0.3s */
}

/* Contenedor de la seccion expandida, donde se ven los componentes */
.expanded-section {
    max-height: 160px;
    overflow-y: auto;
    position: relative; /* Necesario para aplicar una máscara interna */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); /* Sombra interna */
    border-radius: var(--border-radius); /* Asegura bordes redondeados si es necesario */
}

/* Barra de scroll en caso de aparecer */
.expanded-section::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
    height: 8px; /* Altura del scrollbar horizontal (si hay) */
}

/* Estilo del fondo del scrollbar */
.expanded-section::-webkit-scrollbar-track {
    background-color: var(--color-bg-secondary-light); /* Fondo del track (parte donde se mueve el pulgar) */
    border-radius: var(--border-radius);
}

/* Estilo del pulgar (la parte que se mueve) */
.expanded-section::-webkit-scrollbar-thumb {
    background-color: var(--primary-text-color); /* Color del pulgar */
    border-radius: var(--border-radius);
    border: 3px solid var(--primary-text-color); /* Borde sutil alrededor del pulgar */
}

/* Animación para cada componente en cada seccion */
@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateY(0); /* Posición final */
    }
}

/* Animacion para la flecha de despliegue de seccion */
.fa-angle-down.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.fa-angle-down {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
}

/* Menu responsive mostrar/ocultar*/
.menu-open {
    transform: translateX(0); /* Desliza el menú hacia adentro */
}

.menu-closed {
    transform: translateX(-100%); /* Oculta el menú fuera de la pantalla */
}

/* Barra del menu responsive */
.menu-toggle {
    background-color: var(--color-bg-secondary);
    position: fixed;
    width: 100%;
    text-align: end;
    border: none;
    color: var(--primary-text-color);
    z-index: 20; /* Por debajo del menú (para no sobreponer el primer elemento del menu) */
    cursor: pointer;
}

.menu-toggle:focus {
    outline: none;
}

.hamburguer {
    text-align: left;
    font-size: 1.5rem;
}

/* Fondo semitransparente para el overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(var(--color-overlay), 0.6); /* Fondo oscuro semitransparente */
    z-index: 10; /* Justo debajo del menú */
}

/* Mostrar siempre el menú en pantallas grandes (lg) */
@media (min-width: 992px) {
    .menu-toggle {
        display: none;
    }

    .component-sidebar {
        transform: translateX(0);
        position: relative;
        width: 250px; /* Siempre visible en pantallas grandes */
        height: auto;
        box-shadow: none;
    }

    .menu-overlay {
        display: none;
    }
}