/* Platilla bento con grid */
.bento {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: var(--space-medium);
    grid-row-gap: var(--space-medium);
    grid-template-areas:
      "div2   div2   div2   div2   div2   div3   div3"
      "div9   div9   div1   div1   div1   div3   div3"
      "div9   div9   div1   div1   div1   div4   div4"
      "div8   div7   div1   div1   div1   div4   div4"
      "div8   div7   div6   div6   div5   div5   div5"
    ;
}

.bento .group {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 24px;
}

.div1 { 
    grid-area: div1;
}
.div2 { 
    grid-area: div2;
    align-items: center;
    justify-content: center;
}
.div3 { 
    grid-area: div3;
}
.div4 { 
    grid-area: div4;
    align-items: center;
    justify-content: center;
}
.div5 { 
    grid-area: div5;
    align-items: center;
    justify-content: center;
}
.div6 { 
    grid-area: div6;
    align-items: center;
    justify-content: center;
}
.div7 { 
    grid-area: div7;
}
.div8 { 
    grid-area: div8;
}
.div9 { 
    grid-area: div9;
    align-items: center;
    justify-content: center;
}


@media (max-width: 992px) {
    .bento {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(13, 1fr);
        grid-column-gap: var(--space-medium);
        grid-row-gap: var(--space-medium);
        grid-template-areas:
          "div2   div2   div2   div2"
          "div3   div3   div4   div4"
          "div3   div3   div4   div4"
          "div1   div1   div1   div1"
          "div1   div1   div1   div1"
          "div1   div1   div1   div1"
          "div1   div1   div1   div1"
          "div5   div5   div5   div5"
          "div6   div6   div6   div6"
          "div7   div7   div8   div8"
          "div7   div7   div8   div8"
          "div9   div9   div9   div9"
          "div9   div9   div9   div9"
        ;
    }
}
