.button10 {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 150ms ease-in-out;
}

.button10:hover {
  box-shadow: 0 0 12px 8px blue inset, 0 0 10px 4px blue;
  border: blue;
  background: transparent;
}

.button10:active {
  transform: scale(0.95);
}