/* Contenedor principal del componente (vista + codigo) */
.component-display {
  min-height: 100vh;
  background-color: var(--color-bg-primary);
  color: var(--primary-text-color);
}

/* Link que te para volver a la landing 'Go back' */
.back-link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color .3s ease;
}

.back-link:hover {
  color: var(--primary-color);
}

/* Titulo del componente */
.component-show .h2 {
  color: var(--primary-color);
}

/* Donde se muestra el componente */
.component-result {
  max-width: 400px;
}

/* Botonse para escojer el codigo a ver */
.tab {
  border: none;
  padding: var(--space-small) var(--space-medium);
  background-color: transparent;
  color: var(--primary-text-color);
}

.tab.active {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

/* Icono para copiar el codigo */
.copy-btn {
  align-self: flex-end;
  color: var(--primary-text-color);
  border: none;
  background-color: transparent;
  padding: var(--space-small);
  transition: color .3s ease;
}

.copy-btn:hover {
  color: var(--primary-color);
}

/* Contenedor donde se ve el codigo */
.pre-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.pre-content pre {
  height: 100%;
  max-height: 70vh;
  white-space: pre-wrap;
  margin: 0;
  background-color: var(--color-bg-secondary);
  color: var(--primary-text-color);
  padding: 0 var(--space-medium) var(--space-medium) var(--space-medium);
  border-radius: var(--border-radius);
  position: relative;
  cursor: pointer;
  overflow: auto;
}

.copy-overlay {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-overlay), 0.7);
  color: var(--primary-text-color);
  font-size: var(--font-size-large);
  font-weight: bold;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none; /* Para poder hacer el scroll*/
  transition: opacity 0.3s ease;
  z-index: 1;
}

.pre-content:hover .copy-overlay {
  opacity: 1;
}

/* Estiliza el scrollbar en navegadores basados en WebKit */
.pre-content pre::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
  height: 8px; /* Altura del scrollbar horizontal (si hay) */
}

/* Estilo del fondo del scrollbar */
.pre-content pre::-webkit-scrollbar-track {
  background-color: var(--color-bg-secondary-light); /* Fondo del track (parte donde se mueve el pulgar) */
  border-radius: var(--border-radius);
}

/* Estilo del pulgar (la parte que se mueve) */
.pre-content pre::-webkit-scrollbar-thumb {
  background-color: var(--primary-text-color); /* Color del pulgar */
  border-radius: var(--border-radius);
  border: 3px solid var(--primary-text-color); /* Borde sutil alrededor del pulgar */
}